.bookshelfCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bookshelf {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 640px;
    width: 1200px;
    overflow-y: scroll; /* 垂直滚动条 */
}

.bookshelf table {
    width: 100%;
    border-collapse: collapse;
}

.bookshelf th,
.bookshelf td {
    padding: 8px;
    text-align: left;
}

.bookshelf th {
    font-weight: bold;
}

.bookshelf th:first-child,
.bookshelf td:first-child {
    width: 45px;
}

.bookshelf th:nth-child(2),
.bookshelf td:nth-child(2) {
    width: 80px;
}

.bookshelf th:nth-child(3),
.bookshelf td:nth-child(3) {
    width: 200px;
}

.bookshelf th:nth-child(4),
.bookshelf td:nth-child(4) {
    width: 200px;
}

.bookshelf th:nth-child(5),
.bookshelf td:nth-child(5) {
    width: 120px;
}

.bookshelf th:last-child,
.bookshelf td:last-child {
    width: 40px;
}

.bookshelf img {
    height: 100px;
    width: 75px;
}

.bookshelf .delete-button {
    background-color: #f44336;
    border: none;
    color: white;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.confirm-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #45a049;
}

.select-all-button {
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
}
.select-all-button:hover {
    background-color: #45a049;
}
